{% load static %}
<nav class="bg-navbar shadow md:flex md:items-center md:justify-between sticky top-0 z-10">
  <!-- Logo dan Hamburger Menu -->
  <div class="flex justify-between items-center py-2 px-4">
      <a class="flex items-center text-white text-md md:text-lg lg:text-2xl" href="{% url 'index'%}">
        <img class="h-10 inline" src="{% static 'img/logo.png' %}" alt="Logo" />
        <span class="ml-2">Selamat datang</span>
      </a>
      <!-- Icon Hamburger untuk Ponsel -->
      <span class="text-3xl cursor-pointer md:hidden block text-white" onclick="Menu(this)">
        <ion-icon name="menu"></ion-icon>
      </span>
  </div>

  <!-- Menu Utama -->
  <ul id="tttttt" class="top-[-400px] opacity-100 md:flex md:items-center bg-navbar md:bg-transparent w-full md:w-auto md:py-0 py-4 md:pl-0 pl-7 transition-all ease-in duration-500 md:static absolute left-0 md:z-auto z-[-1] md:opacity-100 ">
      <!-- Link Menu Informasi -->
      <li class="relative group my-6 md:my-0">
        <a
          href="#"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200 submenu-toggle"
          >Informasi</a
        >
        <!-- Submenu -->
        <ul class="submenu absolute left-0 mt-2 bg-white text-gray-800 rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-300 ease-in-out">
          <li>
            <a href="{% url 'pemerintah'%}" class="block px-4 py-2 hover:bg-gray-200">Pemerintah desa</a>
          </li>
          <li>
            <a href="{% url 'pengumuman'%}" class="block px-4 py-2 hover:bg-gray-200">Pengumuman</a>
          </li>
          <li>
            <a href="{% url 'kegiatan'%}" class="block px-4 py-2 hover:bg-gray-200">Kegiatan</a>
          </li>
          <li>
            <a href="{% url 'pengaduan'%}" class="block px-4 py-2 hover:bg-gray-200">Pengaduan</a>
          </li>
        </ul>
      </li>

      <!-- Link Menu Informasi -->
      <li class="relative group my-6 md:my-0">
        <a
          href="#"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200 submenu-toggle"
          >Bantuan</a
        >
        <!-- Submenu -->
        <ul class="submenu absolute left-0 mt-2 bg-white text-gray-800 rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-300 ease-in-out">
          <li>
            <a href="" class="block px-4 py-2 hover:bg-gray-200">PKH</a>
          </li>
          <li>
            <a href="" class="block px-4 py-2 hover:bg-gray-200">BLT</a>
          </li>
        </ul>
      </li>

      <li class="relative group my-6 md:my-0">
        <a
          href="#"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200 submenu-toggle"
          >Data Desa</a
        >
        <!-- Submenu -->
        <ul class="submenu absolute left-0 mt-2 bg-white text-gray-800 rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-300 ease-in-out">
          <li>
            <a href="{% url 'pendidikan'%}" class="block px-4 py-2 hover:bg-gray-200">Data pendidikan</a>
          </li>
          <li>
            <a href="{% url 'agama' %}" class="block px-4 py-2 hover:bg-gray-200">Data agama</a>
          </li>
          <li>
            <a href="{% url 'pekerjaan' %}" class="block px-4 py-2 hover:bg-gray-200">Data pekerjaan</a>
          </li>
        </ul>
      </li>

      <li class="relative group my-6 md:my-0">
        <a
          href=""
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200 submenu-toggle"
          >Lembaga</a
        >
        <!-- Submenu -->
        <ul class="submenu absolute left-0 mt-2 bg-white text-gray-800 rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-300 ease-in-out">
          <li>
            <a href="" class="block px-4 py-2 hover:bg-gray-200">PKK</a>
          </li>
          <li>
            <a href="" class="block px-4 py-2 hover:bg-gray-200">LPPMD</a>
          </li>
        </ul>
      </li>

      <li class="my-6 md:my-0">
        <a
          href="{% url 'profile' %}"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200"
          >Layanan</a
        >
      </li>

      <!-- Menu Tentang dengan Submenu -->
      <li class="relative group my-6 md:my-0">
        <a
          href="#"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200 submenu-toggle"
          >Tentang</a
        >
        <!-- Submenu -->
        <ul class="submenu absolute left-0 mt-2 bg-white text-gray-800 rounded-lg shadow-lg opacity-0 invisible transition-opacity duration-300 ease-in-out">
          <li>
            <a href="{% url 'sejarah'%}" class="block px-4 py-2 hover:bg-gray-200">Sejarah Desa</a>
          </li>
          <li>
            <a href="{% url 'struktur'%}" class="block px-4 py-2 hover:bg-gray-200">Struktur Organisasi</a>
          </li>
          <li>
            <a href="{% url 'visimisi'%}" class="block px-4 py-2 hover:bg-gray-200">Visi & Misi</a>
          </li>
        </ul>
      </li>

      <!-- Menu Berita -->
      <li class="my-6 md:my-0">
        <a
          href="{% url 'berita'%}"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200"
          >Berita</a
        >
      </li>

      <!-- Menu IDM -->
      <li class="my-6 md:my-0">
        <a
          href="{% url 'idm'%}"
          class="text-white block md:inline-block md:text-sm lg:text-xl md:px-4 md:py-5 hover:bg-nav_hover rounded-md duration-200"
          >IDM</a
        >
      </li>
  </ul>
</nav>
