{% extends "base_layanan.html" %}

{% load static %}

{% block title %}Ubah sandi{% endblock %}

{% block navbar %} {% include "part/navbar.html" %} {% endblock %}

{% block contents %}
<div class="w-full md:w-3/4 p-4 md:p-8">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-bold mb-4 bg-navbar text-white p-2 rounded">GANTI SANDI</h2>
        <form method="POST" action="{% url 'change' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700">Sandi Lama</label>
                <div class="relative">
                    <input class="w-full p-2 border rounded" placeholder="Masukkan Sandi Lama" type="password"/><i class="fas fa-eye absolute right-3 top-3 text-gray-500"></i>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Sandi Baru</label>
                <div class="relative">
                    <input class="w-full p-2 border rounded" placeholder="Masukkan Sandi Baru" type="password"/><i class="fas fa-eye absolute right-3 top-3 text-gray-500"></i>
                </div>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700">Konfirmasi Sandi Baru</label>
                <div class="relative">
                    <input class="w-full p-2 border rounded" placeholder="Masukkan Konfirmasi Sandi Baru" type="password"/><i class="fas fa-eye absolute right-3 top-3 text-gray-500"></i>
                </div>
            </div>
            <div class="flex justify-end">
                <button class="bg-green-500 text-white px-4 py-2 rounded" type="submit">Simpan</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}