{% extends "base_layanan.html" %}

{% load static %}

{% block title %}Profil{% endblock %}

{% block navbar %}{% include "part/navbar.html" %}{% endblock %}

{% block contents %}
<div class="w-full md:w-3/4 p-4 md:p-8">
    <div class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-bold mb-4 bg-navbar text-white p-2 rounded">PROFIL</h2>
        <div class="p-4">
            <div class="mb-4">
                <h2 class="text-lg font-semibold bg-gray-200 p-2">DATA DASAR</h2>
                <div class="grid grid-cols-3 gap-4 p-2">
                    <div class="col-span-1 font-semibold">NIK</div>
                    <div class="col-span-2">: {{ profil.NIK}}</div>
                    <div class="col-span-1 font-semibold">Nomor Kartu Keluarga</div>
                    <div class="col-span-2">: {{ profil.KK}}</div>
                    <div class="col-span-1 font-semibold">Nama</div>
                    <div class="col-span-2">: {{ profil.nama_lengkap}}</div>
                    <div class="col-span-1 font-semibold">Tempat Lahir</div>
                    <div class="col-span-2">: {{ profil.tempat_lahir}}</div>
                    <div class="col-span-1 font-semibold">Tanggal Lahir</div>
                    <div class="col-span-2">: {{ profil.tanggal_lahir}}</div>
                    <div class="col-span-1 font-semibold">RT/RW</div>
                    <div class="col-span-2">: {{profil.RT}}/{{ profil.RW}}</div>
                    <div class="col-span-1 font-semibold">Jenis Kelamin</div>
                    <div class="col-span-2">: {{ profil.jenis_kelamin}}</div>
                    <div class="col-span-1 font-semibold">Agama</div>
                    <div class="col-span-2">: {{ profil.agama}}</div>
                    <div class="col-span-1 font-semibold">Pendidikan Terakhir</div>
                    <div class="col-span-2">: {{profil.pendidikan}}</div>
                    <div class="col-span-1 font-semibold">Pekerjaan</div>
                    <div class="col-span-2">: {{profil.pekerjaan}}</div>
                </div>
            </div>
            <div>
                <h2 class="text-lg font-semibold bg-gray-200 p-2">AKUN LAYANAN</h2>
                <div class="grid grid-cols-3 gap-4 p-2">
                    <div class="col-span-1 font-semibold">Username</div>
                    <div class="col-span-2">: {{ user.get_username}}</div>
                    <div class="col-span-1 font-semibold">Email</div>
                    <div class="col-span-2">: {{ user.email}}</div>
                    <div class="col-span-1 font-semibold">Nama Depan</div>
                    <div class="col-span-2">: {{ user.first_name}}</div>
                    <div class="col-span-1 font-semibold">Nama Belakang</div>
                    <div class="col-span-2">: {{ user.last_name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}