{% extends "base.html" %}
{% load static %}
{% block title %}Sejarah | Desa Situsari{% endblock %}
{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="container mx-auto px-4 py-8 max-w-screen-md min-h-screen">
    <!-- Title Section -->
    <h1 class="text-2xl text-white font-bold text-center mb-6">
      SEJARAH DESA
    </h1>

    <!-- Image Section -->
    <div class="flex justify-center mb-6">
      <img class="w-3/6 sm:w-1/2 md:w-5/6 lg:w-1/4"src="{% static 'img/Logo-desa1.png'%}"alt="Sejarah Desa"/>
    </div>

    <!-- Description Section -->
    <p class="text-white text-justify text-sm sm:text-base leading-relaxed">
      Pada masa penjajahan desa Situsari belum terbentuk menjadi sebuah Pemerintahan seperti sekarang, cikal bakal terbentuknya Desa Situsari dimulai dari kepemimpinan yang disebut Mandor dan pada saat itu Situsari masi menginduk pada kewilayahan Situsari.
  Kemandoran Situsari kemudian berkembang menjadi Pemerintahan Desa dimana Situsari saat itu masi bergabung pada Pemerintahan Desa Situsari yang hanya merupakan sebuah Dusun yang terbagi menjadi dua Dusun. 
  Seiring berjalanya waktu kemudian Masyarakat setempat mengadakan musyawarah adat untuk mengajukan Pemisahan Pemerintahan dari Desa Induk yaitu Desa Situsari, sehingga kemudian terbentuklah sebuah Pemerintahan tingkat Desa baru bernama Desa Situsari pada tahun 1980 han sehingga terpilihlah Kepala Desa yang Pertama bernama M. IPANG.
  Dengan berbagai kendala yang dihadapi saat itu dimana Kantor Desa pun belum ada, disisi lain kondisi politik yang belum stabil seorang M. Ipang selaku kepala Desa Situsari Pertama dengan kesabaranya tetap bertekad untuk menjadikan Desa Situsari yang Maju dan Sejahtera. Terbentuknya Desa Situsari luas wilayahnya sekitar ± 627,697 HA dengan Koordinat Bujur 107.002602 Dan Koordinat Lintang -6.446587.

    </p>
</div>

<div>
  <h1 class="text-xl md:text-2xl text-white font-bold text-center mb-6">BATAS WILAYAH DESA SITUSARI</h1>
  <div class="flex justify-center">
    <img class="w-5/6 md:w-3/6 "src="{% static 'img/batasdesa.jpg'%}"alt="Sejarah Desa"/>
  </div>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}