{% extends "base.html" %}

{% block title %}Visi & Misi{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="container mx-auto px-5 py-10 max-w-6xl min-h-screen">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 ">
      <!-- VISI Section -->
      <div class="flex flex-col items-center">
        <h1 class="text-white text-xl md:text-3xl font-bold mb-6">VISI</h1>
        <p class="text-white  leading-relaxed text-md md:text-lg">
          Dalam meraih visi Desa Situsari seperti yang sudah dijabarkan diatas dengan mempertimbangkan potensi dan hambatan baik internal maupun eksternal, maka disusunlah Misi Desa Situsari diantaranya:
          <ol class="list-decimal text-white ml-5">
            <li>Memberdayakan Masyarakat melalui Partisipasi Aktif dalam pembangunan.</li>
            <li>Merata dalam pelaksanaan pembangunan diseluruh wilayah Desa Situsari</li>
            <li>Menyelenggarakan pemerintah bersih, amanah, dan terbuka berorientasi pada optimalisasi pelayanan public</li>
            <li>Memanfaatkan potensi sumber daya alam</li>
            <li>Memberdayakan potensi lembaga desa yang ada di desa situsari, untuk mendorong usaha ekonomi masyarakat desa situsari.</li>
          </ol>

        </p>
      </div>
  
      <!-- MISI Section -->
      <div class="flex flex-col items-center">
        <h1 class="text-white text-xl md:text-3xl font-bold mb-6">MISI</h1>
        <p class="text-white text-lg leading-relaxed">
          Misi merupakan tujuan jangka lebih pendek dari visi yang menunjang keberhasilan tercapainya sebuah visi. Dengan kata lain Misi Desa Situsari merupakan penjabaran lebih operasional dari visi. Penjabaran dari visi ini diharapkan dapat mengikuti dan mengantisipasi setiap terjadinya perubahan lingkungan di masa yang akan datang dari usaha-usaha mencapai visi Desa Situsari.
        </p>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}