{% extends "base.html" %}

{% block title %}Visi & Misi{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="container mx-auto px-5 py-10 max-w-6xl min-h-screen">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 ">
      <!-- VISI Section -->
      <div class="flex flex-col items-center">
        <h1 class="text-white text-xl md:text-3xl font-bold mb-6">VISI</h1>
        <p class="text-white  leading-relaxed text-md md:text-lg">
          Setu Sari adalah sebuah desa di kecamatan Cileungsi,
          Kabupaten Bogor, Jawa Barat, Indonesia. Desa ini merupakan desa
          yang letaknya paling selatan, sekaligus menjadi desa dengan
          elevasi tertinggi di Kecamatan Cileungsi, yaitu 153 - 178 Mdpl.
          Setu Sari memiliki potensi wisata yang besar, potensi wisata
          sudah terkelola yaitu Situ Tunggilis, Waterpark Citra Indah City,
          dan Kolam Renang Grand Nusa Indah. Sementara ada beberapa potensi
          wisata yang belum terkelola yaitu Danau Daham Ilnuris, Danau
          Adhigana, dan Telaga Wisata Citra Indah (Perbatasan Desa Sukamaju,
          Jonggol).
        </p>
      </div>
  
      <!-- MISI Section -->
      <div class="flex flex-col items-center">
        <h1 class="text-white text-xl md:text-3xl font-bold mb-6">MISI</h1>
        <p class="text-white text-lg leading-relaxed">
          Setu Sari adalah sebuah desa di kecamatan Cileungsi,
          Kabupaten Bogor, Jawa Barat, Indonesia. Desa ini merupakan desa
          yang letaknya paling selatan, sekaligus menjadi desa dengan
          elevasi tertinggi di Kecamatan Cileungsi, yaitu 153 - 178 Mdpl.
          Setu Sari memiliki potensi wisata yang besar, potensi wisata
          sudah terkelola yaitu Situ Tunggilis, Waterpark Citra Indah City,
          dan Kolam Renang Grand Nusa Indah. Sementara ada beberapa potensi
          wisata yang belum terkelola yaitu Danau Daham Ilnuris, Danau
          Adhigana, dan Telaga Wisata Citra Indah (Perbatasan Desa Sukamaju,
          Jonggol).
        </p>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}