{% extends "base.html" %}

{% load static %}

{% block title %} Domisili | Desa Situsari{% endblock %}

{% block navbar %} {% include "components/navbar.html" %} {% endblock %}

{% block contents %}
<div class="container mx-auto p-4">
    <form class="flex justify-center items-center" method="post" action="{% url 'domisili'%}">
      {% csrf_token %}
      <div class="md:bg-navbar mt-5 py-6 px-10 rounded-md w-full lg:w-3/6">
        <h1 class="text-center text-white text-2xl mb-6">Surat Domisili</h1>
        <div class="flex flex-col md:flex-row gap-8">
          <!-- Data Anda -->
          <div class="w-full">
            <p class="text-white text-xl font-semibold mb-5">
              Data Pribadi Permohonan:
            </p>

            <label for="nik" class="block text-base mb-1 text-white"
              >NIK</label
            >
            {{ form.nik }}

            <label for="namaLengkap" class="block text-base mb-1 text-white"
              >Nama Lengkap</label
            >
            {{ form.nama_lengkap}}

            <label
              for="tempatTanggalLahir"
              class="block text-base mb-1 text-white"
              >Tempat Tanggal Lahir</label
            >
            {{ form.tanggal_lahir}}

            <label for="jenisKelamin" class="block mb-1 text-white"
              >Jenis Kelamin</label
            >
            {{ form.jenis_kelamin }}

            <label for="alamat" class="block text-base mb-1 text-white"
              >Alamat</label
            >
            {{ form.alamat }}
          </div>
        </div>

        <div class="mt-8">
          <p class="text-white text-xl font-semibold mb-5">
            Informasi Domisili:
          </p>

          <label
            for="tanggalTempatPernikahan"
            class="block text-base mb-1 text-white"
          >
            Alamat domisili yang diinginkan
          </label>
          {{ form.alamat_domisili}}

          <label for="namaSaksi" class="block text-base mb-1 text-white">
            Tanggal mulai domisili
          </label>
          {{ form.tanggal_mulai }}
        </div>

        <!-- Berkas-berkas yang dibutuhkan -->
        <div class="mt-8">
          <h5 class="text-white mb-4">Berkas-berkas yang dibutuhkan:</h5>
          <div class="flex items-center mb-2">
            {{ form.surat_pengantar_rtrw}}
            <label for="suratRT_RW" class="ml-2 text-white"
              >Surat pengantar RT/RW</label
            >
          </div>

          <div class="flex items-center mb-2">
            {{form.fotokopi_ktp }}
            <label for="fotocopyKTP" class="ml-2 text-white"
              >Fotocopy KTP</label
            >
          </div>
          <div class="flex items-center mb-4">
            {{ form.bukti_kepemilikan }}
            <label for="fotocopyKK" class="ml-2 text-white">
              Bukti kepemilikan atau sewa rumah (seperti sertifikat, kontrak
              sewa)</label
            >
          </div>

          <div class="flex items-center mb-4">
            {{ form.surat_keterangan_rtrw }}
            <label for="fotocopyKK" class="ml-2 text-white">
              Surat keterangan dari RT/RW (jika diperlukan)</label
            >
          </div>
          <div class="flex items-center mb-4">
            {{ form.surat_belum_nikah }}
            <label for="fotocopyKK" class="ml-2 text-white"
              >Surat keterangan belum menikah (jika diperlukan)</label
            >
          </div>
          <div class="flex items-center mb-4">
            {{ form.surat_izin_orangtua }}
            <label for="fotocopyKK" class="ml-2 text-white"
              >Surat izin dari orang tua (jika diperlukan)</label
            >
          </div>

          <div class="flex justify-center">
            <button
              type="submit"
              class="bg-nav_hover hover:bg-nav_hover text-white py-2 px-6 rounded-md shadow-md cursor-pointer"
            >
              Ajukan
            </button>
          </div>
        </div>
      </div>
    </form>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}