{% extends "base.html" %}

{% load static %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="container">
    <form class="flex justify-center items-center" method="POST" action="{% url 'ktp'%}">
        {% csrf_token %}
        <div class="md:bg-navbar mt-5 py-6 px-10 rounded-md lg:w-3/6">
            <h1 class="text-center text-white text-2xl">KTP</h1>
            <div class="md:flex">
                <div class="w-full">
                    <label for="nik" class="block text-base mb-1 text-white">NIK</label>
                    {{ form.nik }}
                    <label for="name" class="block text-base mb-1 text-white">Nama Lengkap</label>
                    {{form.full_name}}
                    <label for="birthdate" class="block text-base mb-1 text-white">Tanggal Lahir</label>
                    {{form.birth_date}}
                    <label for="jenis_kelamin" class="block mb-1 text-white">Jenis Kelamin</label>
                    {{form.gender}}
                    <label for="alamat" class="block text-base mb-1 text-white">Alamat</label>
                    {{ form.address}}
                </div>

                <div class="relative">
                    <h5 class="text-white mb-2">Berkas-berkas yang dibutuhkan:</h5>
                    <div class="mb-2">
                        {{ form.surat_pengantar}}
                        <label for="surat-rt-rw" class="ms-2 text-white font-medium">Surat pengantar RT/RW</label>
                    </div>
                    <div class="mb-2">
                        {{form.fotocopy_ktp}}
                        <label for="fotocopy-ktp" class="ms-2 text-white font-medium">Fotocopy KTP</label>
                    </div>
                    <div class="mb-2">
                        {{form.fotocopy_kk}}
                        <label for="fotocopy-kk" class="ms-2 text-white font-medium">Fotocopy Kartu Keluarga (KK)</label>
                    </div>
                    <div class="mt-5 flex justify-center items-center">
                        <button type="submit" class="bg-navbar md:bg-nav_hover hover:bg-button_hover text-white p-2.5 w-44 border-0 rounded-md shadow-md cursor-pointer">Ajukan</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %} {% endblock %}