{% extends "base.html" %}

{% load static %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<!-- Form KTP -->
<div class="container mx-auto p-4">
    <form class="flex justify-center items-center" method="post" action="{% url 'ktp'%}">
        {% csrf_token %}
      <div class="md:bg-navbar mt-5 py-6 px-10 rounded-md w-full lg:w-3/6">
        <h1 class="text-center text-white text-2xl mb-6">Pengajuan KTP</h1>
        <div class="flex flex-col md:flex-row gap-8">
          <!-- Data Anda -->
          <div class="w-full">
            <p class="text-white text-xl font-semibold mb-5">Data Anda:</p>

            <label for="nik" class="block text-base mb-1 text-white"
              >NIK Kartu Keluarga</label
            >
            {{ form.nik }}

            <label for="namaLengkap" class="block text-base mb-1 text-white"
              >Nama Lengkap</label
            >
            {{ form.nama_lengkap }}

            <label
              for="tempatTanggalLahir"
              class="block text-base mb-1 text-white"
              >Tanggal Lahir</label
            >
            {{ form.tanggal_lahir }}

            <label for="jenisKelamin" class="block mb-1 text-white"
              >Jenis Kelamin</label
            >
            {{ form.jenis_kelamin }}

            <label for="alamat" class="block text-base mb-1 text-white"
              >Alamat</label
            >
            {{ form.alamat}}
          </div>

          <!-- Data Pasangan -->
        </div>

        <!-- Informasi Pernikahan -->

        <!-- Berkas-berkas yang dibutuhkan -->
        <div class="mt-8">
          <h5 class="text-white mb-4">Berkas-berkas yang dibutuhkan:</h5>
          <div class="flex items-center mb-2">
            {{ form.surat_pengantar_rtrw }}
            <label for="suratRT_RW" class="ml-2 text-white"
              >Surat pengantar RT/RW</label
            >
          </div>

          <div class="flex items-center mb-2">
            {{form.fotocopy_ktp}}
            <label for="fotocopyKTP" class="ml-2 text-white"
              >Fotocopy KTP</label
            >
          </div>
          <div class="flex items-center mb-4">
            {{ form.fotocopy_kk}}
            <label for="fotocopyKK" class="ml-2 text-white"
              >Fotocopy Kartu Keluarga (KK)</label
            >
          </div>

          <div class="flex justify-center">
            <button
              type="submit"
              class="bg-nav_hover hover:bg-nav_hover text-white py-2 px-6 rounded-md shadow-md cursor-pointer"
            >
              Ajukan
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %} {% endblock %}