django
djangorestframework
django-cors-headers
django-phonenumber-field[phonenumbers]
django-tailwind
django-browser-reload
django-jazzmin
django-ckeditor-5
django-simple-captcha
django-protected-media
psycopg2-binary
psycopg-binary
Pillow
whitenoise 
python-dotenv
requests