{% extends 'base.html' %}
{% load static %}
{% block navbar %}{% include "components/navbar.html" %}{% endblock  %}

{% block contents %}
<div class="flex flex-col">
    <h1 class="text-center text-white text-xl md:text-2xl font-bold ">DAFTAR NAMA PENGURUS POSYANDU DESA SITUSARI KECAMATAN CILEUNGSI KABUPATEN BOGOR MASA JABATAN (tahunnya).</h1>
    
    <div class="flex justify-center items-center overflow-x-auto m-3">
        <div class="min-w-full md:w-5/6 overflow-x-auto">
          <table class="w-full border-collapse border-2 bg-nav_hover text-white mt-3">
            <thead>
              <tr class="bg-navbar text-left">
                <th class="px-4 py-2 border border-gray-200 text-center">No</th>
                <th class="px-4 py-2 border border-gray-200 text-center">Nama</th>
                <th class="px-4 py-2 border border-gray-200 text-center">Nama Posyandu</th>
                <th class="px-4 py-2 border border-gray-200 text-center">Alamat</th>
              </tr>
            </thead>
            <tbody>
              {% for posyandu in lembaga %}
              <tr class="text-center">
                <td class="px-4 py-2 border border-gray-200">{{ posyandu.id}}</td>
                <td class="px-4 py-2 border border-gray-200">{{ posyandu.nama }}</td>
                <td class="px-4 py-2 border border-gray-200">{{ posyandu.nama_posyandu}}</td>
                <td class="px-4 py-2 border border-gray-200">{{ posyandu.alamat}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock  %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}