{% extends "base.html" %}
{% load static %}
{% block title%} Home | Desa Situsari{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents%}
<div class="relative w-full mx-auto bg-center bg-contain bg-no-repeat">
  <img src="{% static 'img/background1.png' %}" class="w-full h-auto">

  <div class="absolute inset-0 bg-black bg-opacity-50 flex justify-center ">

    <div class="text-center text-md  flex-col items-center justify-center h-full px-4 md:mt-44 mt-11">
      <h1 class="animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white md:text-3xl lg:text-2xl text-xl text-white font-bold">
        SISTEM INFORMASI DESA SITUSARI..
      </h1>
      <p class="text-white mb-6">Kec. Cileungsi Kab. Bogor</p>
    </div>

  </div>
</div>

<div class="max-w-4xl mx-auto p-4 rounded-lg shadow-md bg-navbar mt-5">
   <div class="flex flex-col md:flex-row justify-center items-center">
    <div class="md:w-1/2">
     <img alt="desa" class="rounded-lg" height="300" src="{% static 'img/fotodesa.png' %}" width="400"/>
    </div>
    <div class="md:w-1/2 md:pl-8 flex flex-col justify-center items-center">
     <h1 class="text-2xl font-bold text-gray-800">
      Serba Serbi Desa
     </h1>
     <p class="text-gray-600">
      Kenali Desa Situsari lebih dekat
     </p>
     <p class="mt-4 text-gray-600 text-justify">
      Ini adalah website resmi Desa Situsari Kecamatan Cileungsi Kabupaten Bogor. Website ini di Kelola oleh pemerintah Desa Situsari yang bertujuan untuk Masyarakat Desa Situsari sebagai pusat informasi mengenai segala hal yang berhubungan dengan Desa Situsari dan pemerintahan Desa Situsari
     </p>
     <h2 class="mt-6 text-xl font-bold text-gray-800">
      Statistik Penduduk Desa Situsari
     </h2>
     <div class="flex items-center mt-4">
      <div class="text-center">
       <img alt="Illustration of a man" class="mx-auto" height="50" src="https://storage.googleapis.com/a1aa/image/Td9DcrVd8T6CMNLfwtN5RzPi1XBsP0glhUsdJSWtCv6gAI1JA.jpg" width="50"/>
       <p class="text-2xl font-bold text-gray-800">
        {{ laki}}
       </p>
       <p class="text-gray-600">
        Laki-laki
       </p>
      </div>
      <div class="text-center mx-8">
       <img alt="Illustration of a woman" class="mx-auto" height="50" src="https://storage.googleapis.com/a1aa/image/j9DPose4gdRnZaqP6WqVzy5xvXp8TpRqpob2u4PZf2yDBQqTA.jpg" width="50"/>
       <p class="text-2xl font-bold text-gray-800">
        {{ perempuan}}
       </p>
       <p class="text-gray-600">
        Perempuan
       </p>
      </div>
      <div class="text-center">
       <img alt="Illustration of a family" class="mx-auto" height="50" src="https://storage.googleapis.com/a1aa/image/BsWpvytjQ6JwGVPA3ViKHffVQeZulDMcRMjhltsr7DEBCgUnA.jpg" width="50"/>
       <p class="text-2xl font-bold text-gray-800">
        {{ penduduk_semua}}
       </p>
       <p class="text-gray-600">
        Keseluruhan
       </p>
      </div>
     </div>
    </div>
   </div>
</div>

<div id="info" class="flex justify-center items-center py-10">
  <div class="bg-navbar justify-center items-center shadow-lg py-5 mx-5 gap-10 rounded-lg duration-200  md:px-10 lg:gap-10 lg:p-10 md:w-4/6">
    <h1 class="text-white text-xl md:text-2xl font-bold text-center">KEPALA DESA</h1>
    <div class="flex flex-col items-center gap-10 mt-10">
      <img src="{% static 'img/Kepaladesa.jpg'%}" class="w-56 h-56 float-left  rounded-md"/>
      <p class="text-sm text-white font-semibold px-2 md:text-lg text-justify">Assalamualaikum Wr Wb.. 
          Desa Digital adalah suatu program yang telah lama di rancang oleh pemerintah provinsi jawa barat. Dengan menggunakan teknologi informasi dan komunikasi untuk meningkatkan kesejahteraan mayarakat desa. Desa digital bertujuan untuk mempercepat pertumbuhan ekonomi, meningkatkan kualitas hidup Masyarakat, memperkuat pemerintahan desa dan mengurangi kesenjangan digital. Program ini menyediakan akses internet, pelatihan teknologi, dan platform digital guna meningkatkan perekonomian, pendidikan, serta pelayanan publik di desa.
          Alhamdulillah berkat Kerjasama dan dedikasi dari semua pihak, pemerintah Desa situsari menjalankan program desa digital ini supaya bisa bermanfaat dan memajukan desa situsari.  Beberapa Langkah dasar telah dilakukan yaitu dengan Pembangunan infrastruktur internet desa, platform digital sebagai sarana menunjang pemberitaan informasi yaitu website dan radio internet desa, serta system informasi desa pintar yang bertujuan memberikan pelayanan bagi Masyarakat. Dengan Langkah-langkah dasar strategis ini kami harapkan desa situsari dapat lebih maju dengan menggali potensi-potensi sumber daya yang ada dan Masyarakat dapat menikmati segala kemudahan yang diberikan sehingga bisa meningkatkan perekonomian dan kesejahteraan.
          Waalaikumsalam wr wb
      </p>
    </div>

    <div class="bg-white rounded-lg shadow-md p-4 mt-5 m-3">
      <div class="mt-4 flex justify-center ">
       <img class="" src="{% static 'img/Struktur1.png'%}">
      </div>
     </div>
    
  </div>
</div>

<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
   <!-- Berita Terkini Section -->
   <div class="md:col-span-2">
    <h2 class="text-xl font-bold text-white mb-2">
     Artikel
     <span class="text-black">
      Desa
     </span>
     <i class="fas fa-chevron-right">
     </i>
    </h2>
    <hr class="border-t-2 border-white mb-4">
    {% for berita in artikel %}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 m-3">
      <div>
        <img alt="Image of a notice" class="w-full h-auto mb-2 rounded-md" src="{{ berita.thumbnail.url}}"/>
        <p class="text-sm text-white">{{ berita.upload_date}}</p>
      </div>
      <div class="md:col-span-2">
        <h3 class="text-lg font-bold text-white break-words">{{ berita.title }}</h3>
        <p class="text-sm text-white break-words">{{ berita.description}}<a class="text-black" href="{% url 'details' news_id=berita.id%}">Selengkapnya</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
   <!-- Pengumuman Section -->
   <div>
    <h2 class="text-xl font-bold text-white mb-2">
     Pengumuman
     <i class="fas fa-chevron-right">
     </i>
    </h2>
    <hr class="border-t-2 border-white mb-4"/>
    {% for announce in pengumuman %}
    <div class="mb-4">
     <a class="block bg-navbar text-white text-center py-2 rounded m-3" href="#">
      {{ announce.title}}
     </a>
    </div>
    {% endfor %}
    <!-- Agenda Kegiatan Section -->
    <h2 class="text-xl font-bold text-white mb-2">
     Agenda
     <span class="text-black">
      Kegiatan
     </span>
     <i class="fas fa-chevron-right">
     </i>
    </h2>
    <hr class="border-t-2 border-white mb-4"/>
    <div class="mb-4">
      {% for activity in kegiatan %}
      <div class="bg-gray-200 p-2 rounded mb-2">
        <p class="text-sm text-black">{{ activity.activity_date}}</p>
        <h3 class="text-sm font-bold text-black break-words">{{ activity.title}}</h3>
        <p class="text-sm text-gray-700 break-words">Lokasi: {{activity.location}}</p>
      </div>
      {% endfor %}
    </div>
   </div>
  </div>
</div>

{% endblock %}

{% block footer %} {% include "components/footer.html" %} {% endblock %}