{% extends "base.html" %}
{% load static %}
{% block title%} Home | Desa Situsari{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents%}
<div class="w-full h-full bg-cover min-h-96 bg-opacity-50 bg-black" style="background-image: url({% static 'img/Background.png' %})">
  <div class="text-md inset-0 flex flex-col items-center justify-center h-full">
    <img alt="Logo" class="mb-4" height="100" src="{% static 'img/logo-desa.png'%}" width="100"/>
    <h1 class="text-white text-3xl font-bold">SISTEM INFORMASI DESA SITUSARI</h1>
    <p class="text-white mb-6">Kec. Cileungsi Kab. Bogor</p>
  </div>
</div>
<div class="max-w-4xl mx-auto p-4 rounded-lg shadow-md bg-navbar">
   <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2">
     <img alt="Illustration of a person sitting under a hut with a laptop" class="rounded-lg" height="300" src="https://storage.googleapis.com/a1aa/image/vQalrZjOE74ZGF9kJ8qfexgvVSLnil8eCHWryhBZAIK8BgUnA.jpg" width="400"/>
    </div>
    <div class="md:w-1/2 md:pl-8">
     <h1 class="text-2xl font-bold text-gray-800">
      Serba Serbi Desa
     </h1>
     <p class="text-gray-600">
      Kenali Desa Situsari lebih dekat
     </p>
     <p class="mt-4 text-gray-600">
      Website ini dikelola Pemerintah Desa Situsari, Kecamatan Cileungsi, Kabupaten Bogor yang bertujuan untuk membuka akses seluas-luasnya kepada masyarakat desa, termasuk terkait pengelolaan dana desa dan capaian pembangunan desa.
     </p>
     <h2 class="mt-6 text-xl font-bold text-gray-800">
      Statistik Penduduk Desa Situsari
     </h2>
     <div class="flex items-center mt-4">
      <div class="text-center">
       <img alt="Illustration of a man" class="mx-auto" height="50" src="https://storage.googleapis.com/a1aa/image/Td9DcrVd8T6CMNLfwtN5RzPi1XBsP0glhUsdJSWtCv6gAI1JA.jpg" width="50"/>
       <p class="text-2xl font-bold text-gray-800">
        {{ laki}}
       </p>
       <p class="text-gray-600">
        Laki-laki
       </p>
      </div>
      <div class="text-center mx-8">
       <img alt="Illustration of a woman" class="mx-auto" height="50" src="https://storage.googleapis.com/a1aa/image/j9DPose4gdRnZaqP6WqVzy5xvXp8TpRqpob2u4PZf2yDBQqTA.jpg" width="50"/>
       <p class="text-2xl font-bold text-gray-800">
        {{ perempuan}}
       </p>
       <p class="text-gray-600">
        Perempuan
       </p>
      </div>
      <div class="text-center">
       <img alt="Illustration of a family" class="mx-auto" height="50" src="https://storage.googleapis.com/a1aa/image/BsWpvytjQ6JwGVPA3ViKHffVQeZulDMcRMjhltsr7DEBCgUnA.jpg" width="50"/>
       <p class="text-2xl font-bold text-gray-800">
        {{ penduduk_semua}}
       </p>
       <p class="text-gray-600">
        Keseluruhan
       </p>
      </div>
     </div>
    </div>
   </div>
   <div class="mt-8">
    <div class="bg-white rounded-lg shadow-md p-4">
     <h3 class="text-lg font-bold text-gray-800 flex items-center">
      <i class="fas fa-map-marker-alt text-red-500 mr-2">
      </i>
      Lokasi Kantor Desa
     </h3>
     <div class="mt-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4853.015007816372!2d107.02311286146269!3d-6.431526469914319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69966bc40aed33%3A0xdee3b2f9782be4cf!2sKantor%20Desa%20Situsari!5e0!3m2!1sid!2sid!4v1729843125298!5m2!1sid!2sid" height="450" style="border:0;" class="w-full" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     </div>
    </div>
   </div>
</div>

<div id="info" class="flex justify-center items-center py-10">
  <div class="bg-navbar flex flex-col-reverse justify-center items-center shadow-lg py-10 mx-5 gap-10 rounded-lg duration-200 md:flex-row md:px-10 lg:gap-20 lg:p-20">
    <p class="text-center text-sm text-white font-semibold px-2 md:text-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />Quis quas quam nemo, dolorum architecto sequi quod officiis <br />nostrum possimus nisi expedita accusantium quaerat fugiat atque<br />vero, odio perspiciatis ducimus quo?</p>

    <img src="{% static 'img/logo.png'%}" class="w-40 h-40 float-right lg:w-56 lg:h-56 lg:ml-36"/>
  </div>
</div>

<div class="container mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
   <!-- Berita Terkini Section -->
   <div class="md:col-span-2">
    <h2 class="text-xl font-bold text-white mb-2">
     Berita
     <span class="text-black">
      Terkini
     </span>
     <i class="fas fa-chevron-right">
     </i>
    </h2>
    <hr class="border-t-2 border-white mb-4">
    {% for berita in artikel %}
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
      <div>
        <img alt="Image of a notice" class="w-full h-auto mb-2" src="{{ berita.thumbnail.url}}"/>
        <p class="text-sm text-white">{{ berita.upload_date}}</p>
      </div>
      <div class="md:col-span-2">
        <h3 class="text-lg font-bold text-white break-words">{{ berita.title }}</h3>
        <p class="text-sm text-white break-words">{{ berita.description}}<a class="text-black" href="{% url 'details' news_id=berita.id%}">Selengkapnya</a></p>
      </div>
    </div>
    {% endfor %}
  </div>
   <!-- Pengumuman Section -->
   <div>
    <h2 class="text-xl font-bold text-white mb-2">
     Pengumuman
     <i class="fas fa-chevron-right">
     </i>
    </h2>
    <hr class="border-t-2 border-white mb-4"/>
    {% for announce in pengumuman %}
    <div class="mb-4">
     <a class="block bg-navbar text-white text-center py-2 rounded" href="#">
      {{ announce.title}}
     </a>
    </div>
    {% endfor %}
    <!-- Agenda Kegiatan Section -->
    <h2 class="text-xl font-bold text-white mb-2">
     Agenda
     <span class="text-black">
      Kegiatan
     </span>
     <i class="fas fa-chevron-right">
     </i>
    </h2>
    <hr class="border-t-2 border-white mb-4"/>
    <div class="mb-4">
      {% for activity in kegiatan %}
      <div class="bg-gray-200 p-2 rounded mb-2">
        <p class="text-sm text-black">{{ activity.activity_date}}</p>
        <h3 class="text-sm font-bold text-black">{{ activity.title}}</h3>
        <p class="text-sm text-gray-700">Lokasi: {{activity.location}}</p>
      </div>
      {% endfor %}
    </div>
   </div>
  </div>
</div>

{% endblock %}

{% block footer %} {% include "components/footer.html" %} {% endblock %}