{% extends "base.html" %}

{% load static %}

{% block title %}{{ blog.title}}{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<!-- Blog Detail -->
<main class="container mx-auto my-8 p-6 bg-white shadow-lg rounded-lg">
    <article>
        <!-- Blog Title -->
        <h2 class="text-3xl font-bold mb-2">{{ blog.title}}</h2>
        
        <!-- Blog Meta -->
        <div class="text-gray-600 text-sm mb-4">
            <span>Diposting pada: {{ blog.upload_date}}</span> •
            <span>Oleh: {{ blog.author }}</span>
        </div>

        <!-- Blog Content -->
        <div class="prose lg:prose-xl">
            <p>{{ blog.description}}</p>
            
            <!-- Image with Caption -->
            <figure class="mb-6">
                <img src="{{ blog.thumbnail.url }}" alt="Deskripsi gambar" class="w-full rounded-lg shadow-md">
                <figcaption class="mt-2 text-center text-gray-600">Gambar ini menunjukkan contoh penggunaan Tailwind CSS dalam desain blog.</figcaption>
            </figure>
            
            <p>{{ blog.content | safe }}</p>
        </div>
    </article>
</main>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}