{% extends "base.html" %}
{% load static %}
{% block title%} Home | Desa Situsari{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents%}
<div class="w-full h-full bg-cover min-h-96 bg-opacity-50 bg-black" style="background-image: url({% static 'img/Background.png' %})">
  <div class="text-md inset-0 flex flex-col items-center justify-center h-full">
    <img alt="Logo" class="mb-4" height="100" src="{% static 'img/logo-desa.png'%}" width="100"/>
    <h1 class="text-white text-3xl font-bold">SISTEM INFORMASI DESA SITUSARI</h1>
    <p class="text-white mb-6">Kec. Cileungsi Kab. Bogor</p>
    <div class="grid grid-cols-5 gap-4">
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Peta Desa" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/O6PhQjCiY1ofYSiEuCRXF8iAg0jk6R7pKyGGKtiCiKU182zJA.jpg" width="50"/>
        <p class="text-center">Peta Desa</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Produk Hukum" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/PNVT9Hdp41pBKljcQnlnkNEsbEeeAAO4ifntX3wDYt0QzbPnA.jpg" width="50"/>
        <p class="text-center">Produk Hukum</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Informasi Publik" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/nVU3rzgxt86XEdBYJoM02yE5K8R3hMM1EdHfzWazv0fn5tnTA.jpg" width="50"/>
        <p class="text-center">Informasi Publik</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Arsip Berita" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/uf2eFC1aTWp9NU2eG4J2fF4vmDIz7xjE2q0fls6farIsce2zJA.jpg" width="50"/>
        <p class="text-center">Arsip Berita</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Album Galeri" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/qNRDeebUDmlfxJtOiO6yDjJ9qf2nVzUOiRf3F72QSdtqNv9cC.jpg" width="50"/>
        <p class="text-center">Album Galeri</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Pengaduan" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/NwmoyQvaaq6zNduQnrEEMqfcz7J3X2KdWHawwx3ENCeu5tnTA.jpg" width="50"/>
        <p class="text-center">Pengaduan</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Pembangunan" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/ckM20vwXoeUCcKgq9y2UgibRJ9hX06GJfYVGvZzNx7efm3ecC.jpg" width="50"/>
        <p class="text-center">Pembangunan</p>
      </div>
      <div class="flex flex-col items-center bg-white p-4 rounded-lg shadow-md">
        <img alt="Status IDM" class="mb-2" height="50" src="https://storage.googleapis.com/a1aa/image/j7YYzQYgDn6FANp4hvBRcy7ITcv0rC0VfQv2HaTATaxy82zJA.jpg" width="50"/>
        <p class="text-center">Status IDM</p>
      </div>
    </div>
  </div>
</div>
<div class="flex items-center justify-center flex-col">
  <div class="w-full max-w-sm mx-auto overflow-hidden relative md:max-w-md lg:max-w-lg xl:max-w-3xl">
    <div class="slides-container flex transition-transform duration-700 mt-10">
      <div class="w-full flex-shrink-0">
        <a href="#">
          <img src="../asset/contoh.png" class="w-full" />
          <p class="absolute bottom-0 text-white font-semibold bg-slate-600 bg-opacity-70 text-sm text-center w-full md:text-xl lg:text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit</p>
        </a>
      </div>
      <div class="w-full flex-shrink-0">
        <a href="#">
          <img src="../asset/contoh.png" class="w-full" />
          <p class="absolute bottom-0 text-white font-semibold bg-slate-600 bg-opacity-70 text-sm text-center w-full md:text-xl lg:text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit</p>
        </a>
      </div>
      <div class="w-full flex-shrink-0">
        <a href="#">
          <img src="../asset/contoh.png" class="w-full" />
          <p class="absolute bottom-0 text-white font-semibold bg-slate-600 bg-opacity-70 text-sm text-center w-full md:text-xl lg:text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit</p>
        </a>
      </div>
      <div class="w-full flex-shrink-0">
        <a href="#">
          <img src="../asset/contoh.png" class="w-full" />
          <p class="absolute bottom-0 text-white font-semibold bg-slate-600 bg-opacity-70 text-sm text-center w-full md:text-xl lg:text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit</p>
        </a>
      </div>
    </div>
  </div>
  <div class="flex justify-center space-x-2 mt-4">
    <button class="w-3 h-3 rounded-full bg-white" onclick="goToSlide(0)"></button>
    <button class="w-3 h-3 rounded-full bg-white" onclick="goToSlide(1)"></button>
    <button class="w-3 h-3 rounded-full bg-white" onclick="goToSlide(2)"></button>
  </div>
</div>

<div id="info" class="flex justify-center items-center py-10">
  <div class="bg-navbar flex flex-col-reverse justify-center items-center shadow-lg py-10 mx-5 gap-10 rounded-lg duration-200 md:flex-row md:px-10 lg:gap-20 lg:p-20">
    <p class="text-center text-sm text-white font-semibold px-2 md:text-lg">Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br />Quis quas quam nemo, dolorum architecto sequi quod officiis <br />nostrum possimus nisi expedita accusantium quaerat fugiat atque<br />vero, odio perspiciatis ducimus quo?</p>

    <img src="{% static 'img/logo.png'%}" class="w-40 h-40 float-right lg:w-56 lg:h-56 lg:ml-36"/>
  </div>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %} {% endblock %}