{% extends "base.html" %}

{% load static %}

{% block title %} Profil | Desa Situsari{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="form-container">
  <form class="profile-form" method="POST" action="{% url 'profile'%}">
    {% csrf_token %}
    <h1 class="form-header">Profil</h1>

    {% if form.errors %}
            {% for _,value in form.errors.items  %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Holy smokes!</strong>
                <span class="block sm:inline">{{ value }}</span>
            </div>
            {% endfor %} 
    {% endif %}
    <div class="upload-section">
      <label for="input-file" id="drop-area" style="cursor: pointer">
        <!-- Use onclick to open file dialog -->
        <input type="file" accept="image/*" id="input-file" hidden />
        <div id="img-view">
          <!-- Add CSS class to make image round -->
          <img
            src="{% static 'img/profil.png' %}"
            alt=""
            id="uploaded-image"
            class="w-24 h-24 object-cover rounded-full"
          />
        </div>
      </label>
    </div>
    <div class="form-group">
      <p>Nama pengguna</p>
      {{ form.username }}
    </div>

    <div class="form-group">
      <p>Nama awal</p>
      {{ form.first_name }}
    </div>

    <div class="form-group">
      <p>Nama akhir</p>
      {{ form.last_name }}
    </div>

    <div class="form-group">
      <p>Tempat Tanggal Lahir:</p>
      {{ form.birth_date }}
    </div>

    <div class="form-group">
      <p>Jenis Kelamin:</p>
      {{ form.gender }}
    </div>

    <div class="form-group">
      <p>Email:</p>
      {{form.email}}
    </div>

    <div class="form-group">
      <p>No Telepon:</p>
      {{ form.phonenumber }}
    </div>

    <a href="{% url 'signout'%}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Log out</a>
    <a href="{% url 'change'%}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Ubah password</a>
    <a href="" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Reset password</a>

    <div class="button-container">
      <button type="submit" class="button cursor-pointer">
        Simpan Perubahan
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}