{% extends "base.html" %}

{% load static %}

{% block bootstrap %}
<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="form-container">
  <form class="profile-form">
    <h1 class="form-header">Profil</h1>

    <div class="upload-section">
      <label for="input-file" id="drop-area" style="cursor: pointer">
        <!-- Use onclick to open file dialog -->
        <input type="file" accept="image/*" id="input-file" hidden />
        <div id="img-view">
          <!-- Add CSS class to make image round -->
          <img
            src="{% static 'img/profil.png' %}"
            alt=""
            id="uploaded-image"
            class="w-24 h-24 object-cover rounded-full"
          />
        </div>
      </label>
    </div>
    <div class="form-group">
      <p>NIK:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="form-group">
      <p>Nama Lengkap:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="form-group">
      <p>Alamat:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="form-group">
      <p>Tempat Tanggal Lahir:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="form-group">
      <p>Jenis Kelamin:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="form-group">
      <p>Email:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="form-group">
      <p>No Telepon:</p>
      <input
        class="input-field"
        contenteditable="true"
        placeholder="Silahkan di isi"
      >
    </div>

    <div class="button-container">
      <button type="button" class="button cursor-pointer">
        Simpan Perubahan
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}