{% extends "base.html" %}

{% load static %}

{% block title %}Struktur | Desa Situsari{% endblock %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<!-- Main Container -->
<div class="container mx-auto px-4 py-8 max-w-screen-md min-h-screen">
    <!-- Title Section -->
    <h1 class="text-3xl text-white font-bold text-center mb-6">
      STRUKTUR DESA
    </h1>

    <!-- Image Section -->
    <div class="flex justify-center mb-6">
      <img
        class="w-full max-w-sm rounded-lg shadow-lg"
        src="{% static 'img/struktur.png'%}"
        alt="Struktur Desa"
      />
    </div>

    <!-- Description Section -->
    <p class="text-white text-justify text-sm sm:text-base leading-relaxed">
      SituSari adalah sebuah desa di kecamatan Cileungsi, Kabupaten Bogor,
      Jawa Barat, Indonesia. Desa ini merupakan desa yang letaknya paling
      selatan, sekaligus menjadi desa dengan elevasi tertinggi di Kecamatan
      Cileungsi, yaitu 153 - 178 Mdpl. Setu Sari memiliki potensi wisata yang
      besar, potensi wisata sudah terkelola yaitu Situ Tunggilis, Waterpark
      Citra Indah City, dan Kolam Renang Grand Nusa Indah. Sementara ada
      beberapa potensi wisata yang belum terkelola yaitu Danau Daham Ilnuris,
      Danau Adhigana, dan Telaga Wisata Citra Indah (Perbatasan Desa Sukamaju,
      Jonggol).
    </p>
</div>
{% endblock %}

{% block footer %} {% include "components/footer.html" %}{% endblock %}