{% load static %}
<div class="w-full md:w-1/4 bg-navbar p-4 shadow-lg">
    <div class="flex flex-col items-center">
        <img alt="Profile picture of a person in a suit" class=" mb-4" height="150" src="{% static 'img/logo.png'%}" width="150"/>
        <div class="w-full">
            <a class="flex items-center p-2 mb-2 text-white bg-blue-600 rounded" href="{% url 'profile' %}"><i class="fas fa-user mr-2"></i>Profil</a>
            <a class="flex items-center p-2 mb-2 text-white bg-green-600 rounded" href="#"><i class="fas fa-file mr-2"></i>Pengajuan surat</a>
            <a class="flex items-center p-2 mb-2 text-white bg-blue-900 rounded" href="#"><i class="fas fa-bullhorn mr-2"></i>Pengaduan</a>
            <a class="flex items-center p-2 mb-2 text-white bg-blue-800 rounded" href="{% url 'change'%}"><i class="fas fa-key mr-2"></i>Ganti password</a>
            <a class="flex items-center p-2 mb-2 text-white bg-purple-500 rounded" href="{% url 'password_reset'%}"><i class="fas fa-rotate mr-2"></i>Reset password</a>
            <a class="flex items-center p-2 mb-2 text-white bg-red-500 rounded" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt mr-2"></i>Keluar akun</a>
        </div>
    </div>
</div>