{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block contents %}
<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col gap-10 items-center justify-center bg-color1 rounded-md">
        <form method="post" action="{% url 'signin'%}" class="w-96 p-6 shadow-lg bg-bebas rounded-md">
            {% csrf_token %}
            <h5 class="mt-3 block text-center text-2xl"></i>Masuk</h5>
            <hr class="mt-3">
            <div class="mt-3">
                <label for="Username" class="block text-base mb-2">Username</label>
                {{ form.username }}
            </div>
            <div class="mt-3">
                <label for="password" class="block text-base mb-2">password</label>
                {{ form.password }}
            </div>
            <div class="mt-5">
                <input type="submit" class="borde-2 bg-login text-white w-full bottom-0 py-3 px-5 mt-10 rounded-md text-lg hover:bg-hover" placeholder="Login" required>
            </div>
            <div>
                <p>Belum memiliki akun? <a class="text-blue" href="{% url 'signup' %}">Silahkan buat akun</a></p>
            </div>
        </form>
    </div>
</div> 
{% endblock %}