{% extends "base.html" %}

{% block title %} Daftar {% endblock %}

{% block contents %}
<div class="flex justify-center items-center h-screen">
    <div class="w-96 py-6 px-11 shadow-lg bg-color1 rounded-md gap-2">
        <h5 class="mt-3 block text-center text-2xl text-black">Daftar</h5>
        <hr class="mt-3">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <label for="Username" class="block text-base mb-1 text-white">Username</label>
            <input type="text" name="username" class="border w-full text-base px-2  focus:outline-none focus:ring-0 focus:border-gray-600 rounded-md" placeholder="Username" >
         
            <label for="Nomor Telp" class="block text-base mb-1 text-white">Nomor Telfon</label>
            <input type="tel" name="phone" pattern="^(\+62|62|0)8[1-9][0-9]{6,9}$" class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600 rounded-md" placeholder="Phone" required>

            <label for="email" class="block text-base mb-1 text-white">Email</label>
            <input type="email" name="email" class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600 rounded-md" placeholder="Email" required>

            <label for="password" class="block text-base mb-1 text-white">Password</label>
            <input type="text" name="password" class="border w-full text-base px-2 py-1 focus:outline-none focus:ring-0 focus:border-gray-600 rounded-md" placeholder="Password" required>

            <input type="submit" class="borde-2 bg-login text-white w-full bottom-0 py-3 px-5 mt-10 rounded-md text-lg hover:bg-hover" placeholder="Daftar akun" required>
        </form>
    </div>
</div>
{% endblock %}