{% extends "base.html" %}
{% load static %}

{% block navbar %} {% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<h1 class="text-center text-white text-base md:text-3xl  font-bold mt-10 ">DAFTAR NAMA-NAMA PENERIMAN BPNT DESA SITUSARI KECAMATAN CILEUNGSI KABUPATEN BOGOR</h1>

<div class="overflow-x-auto mt-10 m-3">
    <table class="md:min-w-full  border-collapse border-2 bg-nav_hover text-white">
      <thead>
        <tr class="bg-navbar text-left">
          <th class="px-4 py-2 border border-gray-200 text-center">No</th>
          <th class="px-4 py-2 border border-gray-200 text-center">Nama Bantuan</th>
          <th class="px-4 py-2 border border-gray-200 text-center">Nilai</th>
          <th class="px-4 py-2 border border-gray-200 text-center">Jumlah</th>
          <th class="px-4 py-2 border border-gray-200 text-center">Total</th>
          <th class="px-4 py-2 border border-gray-200 text-center">Bulan</th>
          <th class="px-4 py-2 border border-gray-200 text-center">Tahun</th>
        </tr>
      </thead>
      <tbody>
        {% for b in bantuan %}
        {% if b.jenis_bantuan == "BPNT" %}
        <tr class="text-center">
          <td class="px-4 py-2 border border-gray-200">{{ b.id}}</td>
          <td class="px-4 py-2 border border-gray-200">{{ b.nama_bantuan}}</td>
          <td class="px-4 py-2 border border-gray-200">{{ b.nilai}}</td>
          <td class="px-4 py-2 border border-gray-200">{{ b.jumlah}}</td>
          <td class="px-4 py-2 border border-gray-200">{{ b.total}}</td>
          <td class="px-4 py-2 border border-gray-200">{{ b.bulan}}</td>
          <td class="px-4 py-2 border border-gray-200">{{ b.tahun}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}