{% extends "base.html" %}
{% load static %}

{% block title %}Data pekerjaan{% endblock %}

{% block chartjs %}
<script>
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartPekerjaan", {
        animationEnabled: true, // change to false
        title:{
            text: "Grafik pekerjaan"
        },
        data: [{
            type: "column",
            dataPoints: {{ data_pekerjaan | safe }}
        }]
    });
    chart.render();
}
</script> 
{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 min-h-screen">
    <div class="flex flex-col items-center lg:items-start lg:pl-10 mt-8 text-white">
      <h1 class="text-lg md:text-2xl font-bold mt-5 text-center lg:text-left">Data Penduduk Berdasarkan Pekerjaan</h1>
      <div id="chartPekerjaan" style="width: 1100px; height: 300px;"></div>
      <div class="md:w-11/12 w-80 border-2 rounded-md mt-5 mx-auto lg:mx-0">
        <table class="w-full border-collapse">
          <thead class="bg-nav_hover">
            <tr>
              <th class="border-b-2 text-left p-3">Jenis Pekerjaan</th>
              <th class="border-b-2 p-3 text-right">Jumlah</th>
            </tr>
          </thead>
        </table>
        <div class="overflow-y-auto h-64 bg-white"> 
          <table class="w-full border-collapse">
            <tbody class="bg-navbar">
              <tr>
                <td class="border-b-2 p-3 text-left">Tidak Bekerja</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td> 
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Pelajar/Mahasiswa</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Pensiunan<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Mengurus rumah tangga</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Karyawan</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Asisten Rumah Tangga</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Wiraswasta</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Satpam/Security</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Barber</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Montir</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Ahli Las/Pandai Besi</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Buruh</td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Abdi Negara<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Petugas Kebersihan<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Nelayan<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Pemuka Agama<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Wirausaha<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Sopir<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Peternak<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Pengrajin<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Digitalpreneur<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Arsitek<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Pekerja Kasar<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
              <tr>
                <td class="border-b-2 p-3 text-left">Tukang<td>
                <td class="border-b-2 p-3 text-right pr-5">000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>  
{% endblock %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}