{% extends "base.html" %}
{% load static %}

{% block title %}Data pendidikan{% endblock %}

{% block chartjs %}
<script>
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartPendidikan", {
        animationEnabled: true,
        title:{
            text: "Grafik pendidikan"
        },
        data: [{
            type: "column",
            dataPoints: {{ data_pendidikan | safe }}
        }]
    });
    chart.render();
}
</script> 
{% endblock %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<h1 class="text-lg md:text-2xl font-bold mt-5 text-center lg:text-left ml-10 text-white">Data Penduduk Berdasarkan Pendidikan</h1>
<div class="flex flex-col md:flex-row items-center md:grid-cols-2 gap-10">     
  <div class="md:w-3/6 w-96 lg:items-start lg:pl-10 mt-5 text-white">
      <div class="border-2 rounded-md mt-5 mx-auto lg:mx-0">
          <table class="w-full border-collapse">
              <thead class="bg-nav_hover">
                  <tr>
                      <th class="border-b-2 text-left p-3">Jenis Pendidikan</th>
                      <th class="border-b-2 p-3 text-right">Jumlah</th>
                  </tr>
              </thead>
          </table>
          <div class="overflow-y-auto h-64 bg-nav_hover"> 
              <table class="w-full border-collapse">
                  <tbody class="bg-navbar">
                    <tr>
                        <td class="border-b-2 p-3 text-left">Tidak Sekolah</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td> 
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SD</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SMA</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SMK</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SLTP</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SLTA</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">DIPLOMA 1</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">DIPLOMA 2</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">DIPLOMA 3</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">DIPLOMA 4</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SARJANA 1</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SARJANA 1</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SARJANA 1</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                      <tr>
                        <td class="border-b-2 p-3 text-left">SARJANA 1</td>
                        <td class="border-b-2 p-3 text-right pr-5">000</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
    
  <div class="flex flex-col items-center lg:items-start lg:pl-10">
      <div id="chartPendidikan" class=" mt-3 mx-auto lg:mx-0 mr-5 p-3" style="height:320px; width:400px"></div>
  </div>
</div>
{% endblock %}

{% block footer %}{% include "components/footer.html" %}{% endblock %}