{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="id">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Website Desa Situsari">
        <meta name="keywords" content="Situsari, situsari, SituSari">
        <meta charset="UTF-8">
        <meta name="author" content="PT Tree Logika Dinamika">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="icon" type="image/x-icon" href="{% static 'img/logo-desa.png'%}">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

        <script src="{% static 'js/main.js'%}"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        {% tailwind_css %}
    </head>
    <body class="bg-nav_hover">
        {% block navbar %} {% endblock %}

        {% block contents %} {% endblock %}
        
        {% block footer %} {% endblock%}
    </body>
</html>